/* CSS */
.portaltype-pdftheme .eea-pdf-thumb,
.portaltype-pdftool .eea-pdf-thumb {
  float: left;
  padding: 0.5em 1em 0.5em 0;
}

.portaltype-pdftool .tileItem {
  clear: both;
}

.portaltype-pdftheme div.documentByLine,
.portaltype-pdftool div.documentByLine {
  display: none ! important;
}

.portaltype-pdftheme .documentActions,
.portaltype-pdftool .documentActions {
  display: none;
}

.eea-pdf-overlay {
  min-width: 700px;
  max-width: 720px;
}

.eea-pdf-overlay .pb-ajax > div {
  width: auto;
}

.field.eea-pdf-email {
  margin-bottom: 0;
}

.eea-pdf-email input[type=email] {
  min-width: 300px;
  max-width: 85%;
  height: 30px;
}

.eea-pdf-email ::-webkit-input-placeholder {
  padding-right: 3px;
  text-align: right;
}
.eea-pdf-email  :-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-pdf-email ::-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-pdf-email :-ms-input-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-pdf-email .formHelp {
  font-size: 90%;
  color: #808285;
  margin-top: 1em;
}

.eea-pdf-email textarea[name=body] {
  visibility: hidden;
  position: absolute;
}

.eea-pdf-email .context {
  min-height: 30px;
  padding: 7px 11px;
}

/* PDF Tool
*/
#content-core .eea-pdf-body dt,
.eea-pdf-body dt {
  display: inline;
}

.eea-pdf-body dt:before {
  content: '';
  display: block;
}

#content-core .eea-pdf-body dd,
.eea-pdf-body dd {
  display: inline;
  margin: 0;
}
